<p>
  <img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png" alt="Logo GymPoint">
</p>
<strong>Olá, {{ student }} </strong>
<p>Seu pedido de auxílio foi respondido!</p>
<p>Confira abaixo a resposta referente ao seu pedido:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <strong>Data da resposta: </strong> {{ answer_at }} <br />
  <br />
  <small> Se ainda tiver dúvida, vá até o <strong>Gympoint</strong>!<small>
</p>
